<div class="grid formgrid p-fluid mt-5">
	<form
		class="grid formgrid p-fluid justify-content-center"
		autocomplete="off"
		[formGroup]="passwordForm"
		(ngSubmit)="nextStep()"
	>
		<div class="field mb-4 col-12">
			<p-fieldset>
				<ng-template pTemplate="header">Debe tener...</ng-template>
				<ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
					<li>Al menos una minúscula.</li>
					<li>Al menos una mayúscula.</li>
					<li>Al menos un número.</li>
					<li>Mínimo 8 caracteres.</li>
					<li>No se aceptan caracteres especiales.</li>
				</ul>
			</p-fieldset>
		</div>
		<div class="field mb-4 md:col-6 col-11">
			<label class="font-medium text-900">Contraseña</label>
			<p-password
				formControlName="password"
				(onBlur)="passworMatch()"
			></p-password>
		</div>
		<div class="field mb-4 md:col-6 col-11">
			<label class="font-medium text-900">Confirmar contraseña</label>
			<p-password
				formControlName="passwordConfirm"
				(onBlur)="passworMatch()"
			></p-password>
		</div>
		<div class="field mb-4 col-12"></div>
		<div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>

		<span class="col-0 md:col-7"></span>
		<div class="flex justify-content-between w-full px-2 gap-1">
			<button
				type="button"
				pbutton
				pripple=""
				label="Create Invoice"
				icon="pi pi-angle-left"
				class="p-element p-ripple w-auto p-button p-component"
				(click)="previousStep()"
			>
				<span
					class="p-button-icon p-button-icon-left pi pi-angle-left"
					aria-hidden="true"
				></span>
				<span class="p-button-label">Anterior</span>
				<span class="p-ink"></span>
			</button>
			<button
				type="submit"
				pbutton
				pripple=""
				label="Create Invoice"
				icon="pi pi-check"
				class="p-element p-ripple w-auto p-button p-button-success p-component"
				[disabled]="!passwordMatchText"
			>
				<span
					class="p-button-icon p-button-icon-right pi pi-check"
					aria-hidden="true"
				></span>
				<span class="p-button-label">Registrarse</span>
				<span class="p-ink"></span>
			</button>
		</div>
	</form>
</div>

<p-toast></p-toast>
