<ul
	class="list-none py-3 px-5 m-0 surface-section flex align-items-center font-medium overflow-x-auto border-top-1 border-bottom-1 surface-border shadow-2 lg:shadow-none"
>
	<li class="pr-3">
		<a class="cursor-pointer"><i class="pi pi-home text-blue-500"></i></a>
	</li>
	<li class="px-2"><i class="pi pi-angle-right text-500"></i></li>
	<li class="px-2">
		<a class="cursor-pointer text-blue-500 white-space-nowrap">Reporte PDF</a>
	</li>
</ul>

<div class="min-h-screen ">
	<div class="p-4 md:p-5 min-w-320">
	 
			<app-report></app-report>
	 
	</div>
</div>
