<div class="min-h-screen flex relative lg:static surface-ground w-screen">
    <!-- START SIDE NAV -->
    <div class="surface-section h-full h-auto lg:block flex-shrink-0 lg:static left-0 top-0 z-1 border-right-1 surface-border select-none"
        style="width: 280px;">
        <app-sidenav></app-sidenav>
    </div>
    <!-- END SIDE NAV -->
    <div class="w-12 overflow-hidden min-h-screen flex flex-column relative flex-autox">
      <router-outlet></router-outlet>
    </div>
<!--    <div class="min-h-screen flex relative lg:static surface-ground w-screen">-->
<!--    </div>-->
</div>
